@model MyBank.Models.NewsModels

@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>News</h2>

<fieldset>
    <legend>NewsModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.NewsInfo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.NewsInfo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
